<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Calculo do IMC</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
</head>

<body>
    <div class="container">
        <h1>Calculo do IMC</h1>
        <form>
          <input type="text" placeholder="Digite o seu nome" />
          <input type="text" placeholder="Digite a sua altura" />
          <input type="text" placeholder="Digite o seu peso" />
          <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>